<div class="player one left">
</div>
<div class="VS left">
  <img class="left arrow" src="/images/darkArrowL.png" />
  <img class="left" src="/images/Trophy.png" />
  <img class="left arrow" src="/images/darkArrowR.png" />
</div>
<div class="player two right">
</div>
