<div class="playerImg"><img class="result" src="{{gravatar}}" /></div>
<div class="cat">
  <div class="t">Language</div>
  <div class="r">{{language}}</div>
</div>
<div class="cat">
  <div class="t">Commits</div>
  <div class="r">{{contributions}}</div>
</div>
